Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -android-*,
  -readability-function-cognitive-complexity,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-include-cleaner,
  -concurrency-mt-unsafe,
  -clang-analyzer-security.ArrayBound,
